:root {
    --montserrat-font: Montserrat;
    --base-color: #58d3b5;
    --secondary: #f6f6f6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

/* header section */
#header {
    padding-top: 25px;
}
#header a {
    font-size: 32px;
    font-family: var(--montserrat-font);    
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

#header span {
    color: var(--base-color);
}


/* Introduction section */
#introduction {
    margin-top: 30px;
}

#introduction .right h2 {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 900;
}

/* Features */
#features {
    background-color: var(--secondary);
}

#features .icon span {
    border-radius: 50%;
}

#features .features-heading h2 {
    color: #000;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 1em;
}

#features .box {
    padding: 30px;
}

#features .box:hover  {
    background-color: var(--base-color);
}

#features .box:hover .icon span {
    background-color: white;
    color: var(--base-color);
}

#features .box:hover .description h3  {
    color: white;
}

#features .box:hover .description p  {
    color: #f8f9fa;
}


/*  SPS Brief */
#sps-brief {
    padding: 1em 0em;
}


/* Life at SPS */