:root {
    --base-color: #58d3b5;
    --secondary: #f6f6f6;   
    --montserrat-font: Montserrat;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.line {
    color: #dee2e6;
    
}

/* header section */
#header {
    padding-top: 25px;
}
#header a {
    font-size: 32px;
    font-family: var(--montserrat-font);    
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

#header span {
    color: var(--base-color);
}


/* Introduction section */
#introduction {
    margin-top: 30px;
}

#introduction .right h2 {
    margin-bottom: 30px;               
    font-size: 40px;
    font-weight: 900;
}

#introduction p {
    font-size: 16px;
    color: #1F070F;
    font-family: var(--montserrat-font);
}

#apply-now {
    background-color: #00d2b5;
    border-width: 2px;
    border-color: #00d2b5;
    box-shadow: 0 4px 20px -5px rgb(0 210 181 / 40%);
    border-radius: 30px;
    font-size: 16px;
    padding: 10px 30px;
    color: #fff;

}

#apply-now:hover {
    background-color: #fff;
    color: #1F070F;
}

/* Features */
#features {
    background-color: var(--secondary);
}

#features .box {
    background-color: #fff;
    position: relative;
}

#features .icon  {
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: var(--base-color);
}

#features .icon span {
    color: #fff;
}

#features .features-heading h2 {
    color: #000;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 1em;
}

#features .box {
    padding: 30px;
    height: 260px;
    /* -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; */
}

#features .description-heading {
    font-size: 16px !important;
    color: black;
}

#features .description p {
    color: #808080;
}

#features .box:hover  {
    background-color: var(--base-color);
    box-shadow: 0 4px 20px -5px rgba(0, 210, 181, 0.4);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    top: -8px;
}

#features .box:hover .icon  {
    background-color: #fff;
}

#features .box:hover .icon span {
    color: var(--base-color);
}

#features .box:hover .description h3  {
    color: white;
    font-size: 16px;
}

#features .box:hover .description p  {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}


/*  SPS Brief */
#sps-brief .heading{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;    
}

#sps-brief p {
    font-size: 16px;
    color: #808080;
    line-height: 30px;

}

/* Life at SPS */
#life-at-sps .heading {
    font-size: 40px;
    font-family: var(--montserrat-font);
    font-weight: 900;
}

#life-at-sps p {
    font-size: 16px;
    color: #808080;
}

#life-at-sps h2 {
    font-size: 20px;
    color: #000;
}


/* Domains */
#domains {
    background-color: var(--secondary);
}

#domains .section-heading {
    font-size: 40px;
    font-weight: 900;
}

#domains .box {
    background-color: #fff;
    padding: 30px;
    position: relative;
}

#domains h3 {
    font-size: 16px;
    font-family: var(--montserrat-font);
    color: #000;
}

#domains p {
    font-size: 15px;
    color: #808080;
    font-family: var(--montserrat-font);
}

#domains .box:hover {
    background-color: var(--base-color);
    top: -8px;
}

#domains .box:hover p {
    color: rgba(255, 255, 255, 0.7);
}

#domains .box:hover h3  {
    color: white;
}

/* Want to join SPS */
#join h2 {
    font-size: 40px;
    font-weight: 900;
    /* padding-bottom: 30px; */
}

#join h2 {
    font-size: 20px;
    font-family: var(--montserrat-font);
    color: #000;
}

#join p {
    font-size: 16px;
    color: #808080;
    font-family: var(--montserrat-font);
}

/* Cost section*/


/* Convocation */
#convocation  h2{
    font-size: 40px;
    font-weight: 900;
}


/* FAQS */
#faqs h2 {
    font-size: 40px;
    font-weight: 900;
}

#faqs .wrapper {
    max-width: 90%;
}

#faqs .message-container {
    height: 716px;
    overflow-y: scroll;
}

.send {
    max-width: 90%;
    display: inline-block;
    background-color: var(--base-color);
    border-radius: 25px;
    cursor: pointer;
}

.send p {
    font-size: 16px;
    font-family: var(--montserrat-font);
    color: #fff;
}

.receive {
    display: inline-block;
    background-color: #e5e5ea;
    cursor: pointer;
    /* max-width: 90%; */
    border-radius: 25px;
    /* float: left; */
}

.reveicve-box {
    max-width: 90%;
}

.receive p {
    font-size: 16px;
    font-family: var(--montserrat-font);
    color: #000;
}

#faqs .message-time p {
    font-size: 10px;
    display: none;
    /* transition: all .5s; */

}

 #faqs .wrapper:hover  .message-time p {
    display: block;
    color: #6c757d;    
}

#faqs .right span {
    font-size: 18px;
}

#faqs .message-container p{
    margin-bottom: 0em;
    transition: all .5s;
}

#faqs .right .description h3 {
    font-size: 18px;
    padding-bottom: 10px;
    font-family: 'Poppins';
}

#faqs .right .description p {
    color: var(--base-color);
    font-family: 'Poppins';

}

#faqs .right .description .hover-item:hover {
    transition: .3s all ease;
    cursor: pointer;
    color: #17a2b8;
}